.sign-up-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-prompt {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.sign-up-form {
  max-width: 50%;
}

.sign-up-button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffffff;
  color: #410042;
  border: none;
  border-radius: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sign-up-button:focus {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  outline: none;
}

.form-control {
  background-color: transparent !important;
  color: #ffffff !important;
  line-height: 2 !important;
}

.form-control:focus {
  background-color: transparent !important;
  color: #ffffff !important;
}
