.nav-logo {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 10%;
}

body {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-in-container {
  margin-top: 50px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-prompt {
  text-align: center;
  font-size: 2rem;
  font-weight: 400 !important;
  margin-bottom: 50px;
  margin-top: 20px !important;
}

.sign-in-form {
  margin: auto;
  width: 350px;
  max-width: 80%;
}

.sign-in-button {
  width: 100%;
  height: 3.5rem;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: white;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
  transition-duration: 0.4s;
}

.sign-in-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* .sign-in-button:focus {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffffff;
  color: #410042;
  border: none;
  border-radius: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
} */

.form-control {
  background-color: transparent !important;
  color: #ffffff !important;
  line-height: 2 !important;
}

.form-control:focus {
  background-color: transparent !important;
  color: #ffffff !important;
  outline: none;
  outline: none !important;
  box-shadow: none !important;
  border-color:none !important;
}
