@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

body {
  color: white;
  /* background-image: url('/Users/sagekearney/sei/projects/project3/devating-frontend/public/images/desktop-background-devating.svg'); */
  background-color: #000241;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
