body {
  background: url('/images/desktop-background-devating.svg') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 100vh; /* will cover the 100% of viewport */
  flex: 1 0 auto;
  font-family: 'Montserrat Alternates', sans-serif;
}

.create-button-landing {
  text-align: center;
  width: 50%;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background-color: transparent;
  color: #410042;
  border: 1px solid #ffffff;
  border-radius: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 32px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.create-button-landing:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.sign-in-button-landing {
  width: 50%;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background-color: transparent;
  color: #410042;
  border: 1px solid #ffffff;
  border-radius: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.sign-in-button-landing:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.landing-content {
  padding-top: 40px;
  letter-spacing: 0.1em;
  font-size: 30px;
  line-height: 2;
  color: #ffffff;
  font-weight: 500;
}

.landing-button-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

footer {
  font-family: 'Montserrat Alternates', sans-serif;
  background: #000241;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 0.6rem !important;
  font-weight: 800;
  text-align: center;
  position: fixed; /* OldProperty */
  position: static;
  bottom: 0; /* Updated Property */
  font-size: small;
  width: 100%;
  flex-shrink: 0;
  color: white;
}

@media (max-width: 576px) {
  .sign-in-button-landing {
    width: 50%;
  }
  .create-button-landing {
    width: 50%;
  }
}
.Home-Logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
