body {
  background: url('/images/desktop-background-devating.svg') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
content {
  color: white;
}
