.nav-logo {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 10%;
}

.edit-delete-button-container {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}

/* .name-button {
  color: #730042;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.name-button:focus {
  outline: none !important;
}
.name-update-input {
  width: 150px;
  font-weight: 600;
  margin-left: 24px;
}
.name-update-input:focus {
  outline: none !important;
}

.name-save-button {
  width: 100px;
  font-weight: 600;
  margin-left: 24px;
  top: 100px;
  padding: 12px 24px;
  height: 4.5rem;
  text-align: center;
  z-index: 1;
  border-radius: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #000241;
  border: 0.15rem solid #410042;
  background-color: rgba(255, 255, 255, 0.701);
}
.name-save-button:focus {
  outline: none !important;
} */

.delete-button-col {
  text-align: right;
}

#account-delete-button {
  border: 0.12rem solid #000241;
  color: #730042;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  background: none;
  border: none;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin-top: 1.6rem;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
}
.user-profile-info-container {
  padding-top: 6rem;
  border-bottom: 1px solid #ffffff;
}
#account-delete-button:hover {
  outline: none !important;
  padding: 0.4rem;
  border: 0.1rem solid #ffffff;
}

#account-delete-button:focus {
  outline: none !important;
  padding: 0.4rem;
  border: 0.1rem solid #ffffff;
}

.user-profile-name {
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
}

.profile-icon-container-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.profile-icon-container {
  background: #730042;
  margin: 1.5rem 1rem;
  border-radius: 16px;
  box-shadow: 0 8px 6px -6px black;
}
.profile-code-lang-icon {
  padding: 0.5rem;
  width: 80px;
  height: auto;
}

.info-title {
  font-size: 32px;
  font-weight: 600;
}

.profile-match-title {
  color: #ffffff;
  font-size: 36px;
}

.match-card-delete-button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #730042;
  font-weight: 500;
  outline: none !important;
  background: transparent !important;
  border: none;
  text-align: left;
  z-index: 1;
}
.match-card-delete-button:hover {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #730042;
  font-weight: 500;
  outline: none !important;
  background: transparent !important;
}

.match-card-delete-button:focus {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #730042;
  font-weight: 500;
  outline: none !important;
  background: transparent !important;
}

.dashboard-container {
  margin-top: -4rem;
  background: #000241;
  padding-bottom: 4rem;
}

.keep-match-container {
  margin-top: 2rem;
  background: transparent !important;
}

.keep-card-container {
  width: 240px;
  margin: 1.6rem 1.6rem !important;
  position: relative;
  background: none !important;
}

.keep-card-container .profile-match-card-image {
  display: block;
  width: 240px;
}

.keep-card-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.4;
}

.info-title {
  font-size: 18px;
  text-align: center;
  padding: 1.5rem;
  color: white;
}

.profile-content {
  font-size: 20px;
}

.coding-language-activities-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff;
}

.profile-coding-col {
  border-right: 1px solid #ffffff;
}

.match-name-age {
  color: #ffffff !important;
  font-weight: 600 !important;
  font-size: 24px !important;
}

@media (max-width: 997px) {
  .profile-code-lang-icon {
    padding: 0.5rem;
    width: 60px;
    height: auto;
  }
  .keep-card-container {
    width: 220px;
    margin: 1.6rem 2.1rem !important;
    position: relative;
    background: none !important;
  }

  .keep-card-container .profile-match-card-image {
    display: block;
    width: 220px;
  }
  .nav-logo {
    min-width: 15%;
  }
}

@media (max-width: 766px) {
  .profile-code-lang-icon {
    padding: 0.5rem;
    width: 60px;
    height: auto;
  }
  .keep-card-container {
    width: 180px;
    margin: 1.6rem 2.1rem !important;
    position: relative;
    background: none !important;
  }

  .keep-card-container .profile-match-card-image {
    display: block;
    width: 180px;
  }
  .nav-logo {
    min-width: 15%;
  }
}

@media (max-width: 576px) {
  .profile-code-lang-icon {
    padding: 0.5rem;
    width: 60px;
    height: auto;
  }
  .keep-card-container {
    width: 160px;
    margin: 1.6rem 2.6rem !important;
    position: relative;
    background: none !important;
  }

  .keep-card-container .profile-match-card-image {
    display: block;
    width: 160px;
  }
  .nav-logo {
    min-width: 30%;
  }
}

/* main {
  background: #000241;
  height: 100%;
} */
