.question-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.question-prompt {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  overflow-wrap: break-word;
  letter-spacing: 4px;
}

.sign-up-form {
  max-width: 50%;
}

.sign-up-button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffffff;
  color: #410042;
  border: none;
  border-radius: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.form-control {
  background-color: transparent !important;
  color: #ffffff !important;
  line-height: 2 !important;
}

.form-control:focus {
  background-color: transparent !important;
  color: #ffffff !important;
}

.question-card-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.question-number {
  text-align: center;
  color: gray;
  margin: auto;
}

.next-button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffffff;
  color: #410042;
  border: none;
  border-radius: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.question-icon {
  margin: 42px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.question-icon:hover {
  border: 1px solid #ffffff;
  padding: 16px;
}

/* new class name for styling on a clicked icon */
.clicked-icon {
  background-color: gray;
  padding: 16px;
  outline: none;
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.question-icon:focus {
  background-color: gray;
  padding: 16px;
  outline: none;
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.next-button:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
}

.next-button:focus {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  outline: none;
}

.separate-div {
  margin-bottom: 64px;
}

.question-input {
  border-radius: 32px !important;
}

.question-input:focus {
  border-radius: 32px;
  outline: none !important;
  border: 1px solid #ffffff;
}

#question-three-button {
  margin-top: 56px;
}
